@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji;
}

#root {
  position: relative;
}

.main {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 640px;
  display: flex;
  justify-content: center;
  background-color: #ededed;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

@layer base {
  button,
  input,
  textarea {
    @apply outline-none;
  }
}

@layer components {
  /* Layout */
  .mobile-view {
    @apply w-full max-w-[850px] h-full bg-white flex flex-col justify-start items-stretch;
  }

  .desktop-view {
    @apply w-full h-full bg-white flex flex-col justify-start items-center;
  }

  /* Scroll Bar */
  ::-webkit-scrollbar {
    @apply w-1;
  }
  ::-webkit-scrollbar-track {
    @apply bg-black-100;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-black-300;
  }

  /* Loader */
  .spinning-loader div {
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  .spinning-loader div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .spinning-loader div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .spinning-loader div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
